.logEditTitle{
  border: none;
  width: 100%;
  outline:medium;
}
.editLogBox{
  margin-top: 1rem;
}
.editLogTi{
  display: flex;
}
.logTitInpt {
  flex: 1;
  border-bottom:1px solid #ccc;
}
.logBtn{
  width: 100%;
  margin-top: 1rem;
}

/*upload*/
.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
